#app {
  font: 14px 'Helvetica Nueu', Helvetica Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px; max-width: 850px;
  margin: 0 auto;
}

a.active {
  color: orange;
}

nav {
  padding-top: 20px;
}

dl.tornado dt  {
  text-align: left;
  width: 133px;
}

dl.tornado dd  {
  margin-left: 114px;
  /*margin-left: -64px;*/
}